<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Operações do Usuário</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Operações do Usuário</h5>
            <ul>
              <li><a href="/cadastro-produto">Cadastro de Produto/Transação</a></li>
              <li><a href="/listagem-produtos">Listagem de Produtos/Transações</a></li>
              <li><a href="/atualizar-usuario">Atualizar Cadastro do Usuário</a></li>
            </ul>
            <div class="mb-3">
              <a href="/logout" class="btn btn-danger">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
